*{
    margin: 0;
    padding: 0;
}
  
  //variables
$color-primary: #f9ed69;
$color-secondary: #f08a5d;
$color-tertiary: #b83b5e;
$color-text-dark: #333;
$color-text-light: #eee;

$width-button: 150px;
  
//   mixin is a reusable piece of code and then whenever we use it, that code is put in the place where we called that mixin
@mixin clearfix {  
    &::after{  
        content: "";
        clear: both;
        display: table;     
    }
}

@mixin style-link-text($color){
    text-decoration: none;
    text-transform: uppercase;
    color: $color;
}
  
@function divide($a, $b){
    @return $a/$b
}
  

%btn-placeholder{
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    width: $width-button;
    @include style-link-text($color-text-light)
}
  
nav{
    margin: divide(60, 2) * 1px; //30px
    //background desappears because all the child elements of the nav element are floated
    background-color: $color-primary;

    @include clearfix
}
  
.navigation{
    list-style: none;
    float: left;
    //nesting
    li{
        display: inline;
        margin-left: 30px;
        
        //& writes the selector path
        &:first-child{
            margin: 0;
        }
        
        a:link{
            @include style-link-text($color-text-dark)
        }
    } 
}
  
.button{
    float: right;
}
  
  
.btn-main {
    &:link{
        //the code inside the placeholder is not copied to here, but this selector is copied to there
        //extends: we can write a placeholder and put a bunch of styles in there, and then have other selectors extend that placeholder
        //just use extends when the selectors or the elements that you are extending are related to one another
        @extend %btn-placeholder;
        background-color: $color-secondary;
    }  
    &:hover{
        background-color: darken($color-secondary, 15%);    
    }
}

.btn-hot {
    &:link{
        @extend %btn-placeholder;
        background-color: $color-tertiary;
    }  
    &:hover{
        background-color: lighten($color-tertiary, 15%);    
    }
}